.hero {
  height: 90vh;
  width: 100%;
  background-image: url("../../../../public/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  padding-top: 15%;
}

.hero h1 {
  color: #fff;
  font-size: 60px;
}

.hero p {
  color: #fff;
  opacity: 0.8;
}

form {
  margin-top: 50px;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 5px;
}

form input {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}

form span {
  color: grey;
  font-size: 14px;
}

input::placeholder {
  color: black;
  font-size: 17px;
}

form .box {
  padding: 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}

form .box:nth-child(1) {
  border-left: none;
}

form h4 {
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .hero {
    height: 100%;
    padding-bottom: 20px;
  }

  .hero .container {
    padding-top: 30%;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  form .box {
    border-left: none;
    width: 100%;
    padding: 0;
    padding-bottom: 15px;
  }

  form input {
    width: 100%;
  }

  form .btn {
    margin: auto;
    padding: 17px 50px;
  }
}
