.footerContact {
  padding: 40px 0;
  background-color: #27ae60;
  color: #fff;
}

.footerContact h1 {
  font-size: 40px;
}

footer {
  padding: 50px 0;
  background-color: #1d2636;
  color: #fff;
}

footer .container {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 1fr;
  grid-gap: 20px;
}

footer img {
  width: 150px;
}

footer h2 {
  font-weight: 500;
}

footer p {
  margin: 20px 0;
  color: grey;
}

footer input {
  padding: 17px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

footer h3 {
  margin-bottom: 30px;
  font-weight: 500;
}

footer ul {
  display: block;
}

footer ul li {
  display: block;
  margin-bottom: 20px;
  color: grey;
}

.legal {
  padding: 20px;
  text-align: center;
  background: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 800px) {
  footer .container {
    grid-template-columns: 1fr max-content;
  }
}
